@body-bg: #eee;
@text-color: black;
@lite: rgba(0,0,0,0.5);

@header-bg: #2466a9;
@header-color: white;

@paper-bg: white;
@link: DoderBlue;

@border-color :#ddd;

@button-bg: #eee;
@error: #cc0000;
@warning: #ffa800;

@yellow: Gold;
@green: #0cb707;
@blue: #027ef1;

@cell-hover: #eee;

// -------------------
body {background: @body-bg; color: @text-color}
header {background: @header-bg; color: @header-color}
