@import "grid.less";
@import "colors.less";

.clearfix { zoom: 1; &:before { content: ''; display: block; } &:after { content: ''; display: table; clear: both; } }

html {vertical-align:baseline; font-size:1.1em;}
body {-webkit-font-smoothing: subpixel-antialiased;}

h1, h2 {font-weight:normal}
h1 {font-size:2.4em; margin:0 0 0.8em 0}
h2 {font-size:1.7em; margin:1.2em 0 0.8em 0}
h3 {font-size:1.2em;  margin:1em 0 0.4em 0}

cite {
  display: block;
  margin:0;
  color: @lite;
  padding:1em 1em 1em 2*@dx; 
  max-width: 36*@dx;
  font-style:normal;
  
  author {display: block; font-style: italic; margin-top:1em}
}

code {display: block; margin: 0 0 1em 1em; white-space:pre-line; font-size:1.2em}

hr {border: 0; height : 1px; background: rgba(0,0,0,0.2);}

p {margin-bottom:1em; line-height:1.4em}

a {text-decoration: none; border-bottom:solid 1px; cursor:pointer;
	
	  &.serv, &.pseudo-link { border-bottom-style: dotted; }
	  &.active { border: none; cursor: default;}
	  &.disabled { border: none; cursor:not-allowed;}
	  &:link {color: @link;}
	  &:hover {opacity: 1}
}

dl {padding:5px 0 5px 0; .clearfix();
  dt {float:left; margin-right:@dx/2; min-height:1em;}
  dd {min-height:1.4em;}
}

// Списки
li {padding-top:0.3em; padding-bottom:0.3em}
ul.-unstyled {margin:0; padding:0}
.-unstyled li {list-style-type:none}

// Базовые модификаторы
.-open {display: block}
.-hide {display: none}
.-collapsed {display: none}
.-misc {font-size:70%}
.-clickable {cursor:pointer !important;}


.-nowrap {white-space:nowrap;}
.-muted   {opacity:0.4 !important;}
.-ellipsis {overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }

// Alias'ы переходного периода
.nowrap	{.-nowrap();}
.muted	{.-muted();}
.ellipsis {.-ellipsis();}
.clickable {.-clickable();}
