@import "lib/sanitize.css/dist/sanitize.min.css";
@import "lib/pt-sans/styles/pt_sans.css";
@import "lib/fontawesome/css/font-awesome.min.css";
@import "lib/ios7switch.css";
.-indent-top {
  margin-top: 2em;
}
.-indent-bottom {
  margin-bottom: 2em;
}
.-paddings {
  padding: 2em;
}
.-nopaddings {
  padding: 0;
}
.-sticky {
  position: sticky;
  top: 0;
  z-index: 10;
}
.-overhead {
  margin-top: -4em;
}
.-border-top {
  border-top: solid 1px #dddddd;
}
.-border-bottom {
  border-bottom: solid 1px #dddddd;
}
main {
  position: relative;
}
html {
  vertical-align: baseline;
  font-size: 1.2em;
  line-height: 1.4em;
}
body {
  -webkit-font-smoothing: subpixel-antialiased;
}
h1,
h2 {
  font-weight: normal;
}
h1 {
  font-size: 2.4em;
  margin: 0 0 0.8em 0;
}
h2 {
  font-size: 1.7em;
  margin: 1.2em 0 0.8em 0;
}
h3 {
  font-size: 1.5em;
  margin: 1em 0 0.4em 0;
}
hgroup {
  padding: 2em;
}
hgroup h1 {
  margin: 0;
}
cite {
  display: block;
  margin: 0;
  color: rgba(0, 0, 0, 0.5);
  padding: 1em 1em 1em 4em;
  max-width: 72em;
  font-style: normal;
}
cite author {
  display: block;
  font-style: italic;
  margin-top: 1em;
}
code {
  display: block;
  margin: 0 0 1em 1em;
  white-space: pre-line;
  font-size: 1.2em;
}
th {
  font-weight: bold;
}
hr {
  border: 0;
  height: 1px;
  background: rgba(0, 0, 0, 0.2);
}
p {
  margin-bottom: 1em;
  line-height: 1.4em;
}
.muted {
  opacity: 0.4 !important;
}
.nowrap {
  white-space: nowrap;
}
.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
a {
  text-decoration: none;
  border-bottom: solid 1px;
  cursor: pointer;
}
a.serv,
a.pseudo-link {
  border-bottom-style: dotted;
}
a.active {
  border: none;
  cursor: default;
}
a.disabled {
  border: none;
  cursor: not-allowed;
}
a:hover {
  opacity: 1;
}
input[type="text"],
input[type="password"],
textarea,
select {
  height: 1.8em;
  padding: .3em .3em 0.1em .3em;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-shadow: none;
  border-radius: 2px;
  font-size: 100%;
}
.disabled,
input[type=submit].disabled,
input[type=submit][disabled],
button.disabled,
button[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}
.disabled:hover,
input[type=submit].disabled:hover,
input[type=submit][disabled]:hover,
button.disabled:hover,
button[disabled]:hover {
  opacity: 0.5;
}
li {
  padding-top: 0.3em;
  padding-bottom: 0.3em;
}
form li {
  list-style-type: none;
}
.-open {
  display: block;
}
.-hide {
  display: none;
}
.-collapsed {
  display: none;
}
.-misc {
  font-size: 70%;
}
.narrow {
  width: 2em;
}
.mid {
  width: 6em;
}
.wide {
  width: 20em;
}
.full {
  width: 100%;
}
body {
  background: #eeeeee;
  color: #000000;
}
header {
  background: #0066cc;
  color: #ffffff;
}
/* Z-indexes */
.z1 {
  z-index: 1;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.z2 {
  z-index: 2;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.z3 {
  z-index: 3;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.shadow {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.fly {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.paper {
  background: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding: 2em;
}
.paper.-waste {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  min-width: 400px;
}
.hover {
  opacity: 1;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
header {
  padding: 1em;
  background: #0066cc;
  z-index: 2;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
header.-mid {
  height: 14em;
}
header.-big {
  height: 30em;
}
header.-extra {
  height: 60em;
}
footer {
  padding: 6em;
  font-size: 80%;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
}
button,
.button,
input[type=submit] {
  display: inline-block;
  height: 2em;
  padding: 0 1em;
  line-height: 2em;
  background: #ccc;
  border: rgba(0, 0, 0, 0.4);
  border-radius: 3px;
  cursor: pointer;
  box-shadow: inset 0 20px 26px -6px rgba(255, 255, 255, 0.2);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -moz-user-select: none;
  -webkit-user-select: none;
}
button:focus,
.button:focus,
input[type=submit]:focus {
  outline: none;
}
button:hover,
.button:hover,
input[type=submit]:hover {
  opacity: 1;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
button:active,
.button:active,
input[type=submit]:active {
  opacity: 0.6;
}
button.disabled:hover,
.button.disabled:hover,
input[type=submit].disabled:hover {
  opacity: 0.5;
  cursor: not-allowed;
}
button.small,
.button.small,
input[type=submit].small {
  height: 30px;
  line-height: 30px;
}
button.xsmall,
.button.xsmall,
input[type=submit].xsmall {
  height: 24px;
  line-height: 24px;
}
button.active,
.button.active,
input[type=submit].active {
  box-shadow: inset 3px 5px 10px -6px rgba(0, 0, 0, 0.5), inset 0px 0px 10px 30px rgba(0, 0, 0, 0.05);
  cursor: default;
}
button.active:hover,
.button.active:hover,
input[type=submit].active:hover {
  opacity: 1;
}
.form .field {
  margin-bottom: 1em;
}
.form .field input,
.form .field select {
  margin-right: 0.5em;
}
.form .error {
  color: #cc0000;
}
.form label {
  display: block;
  margin-bottom: 0.2em;
}
.table {
  width: 100%;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-collapse: collapse;
  border-spacing: 0;
  background-image: none;
}
.table.-auto {
  width: auto;
}
.table.-fixed {
  table-layout: fixed;
}
.table.-hover tbody tr:hover {
  background: #dddddd;
}
.table.-split tr {
  border-bottom: solid 1px #dddddd;
}
.table.-split tr:last-child {
  border-bottom: none;
}
.table thead {
  border-bottom: solid 1px #dddddd;
}
.table td,
.table th {
  padding: 0.4em 0.5em;
  vertical-align: top;
}
